<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
    <listeners>
        <listener class-name="com.reports.ExtentTestNGITestListener"/>
    </listeners>
    <test name="Test">
        <classes>
           <class name="APITestCase.Login"/>
       		<class name="APITestCase.ManageUser"/>
           	<class name="APITestCase.ManageLead"/>
            <class name="APITestCase.ManageInventory"/> 
            <class name="APITestCase.ManageQuotation"/> 
            <class name="APITestCase.ManageProfile"/> 
            <class name="APITestCase.RolesAndPermissions"/>
            <class name="APITestCase.Dashboard"/>
            <class name="APITestCase.ManageInquiry"/>      
            <class name="MSNagile.Login"/>
            <class name="MSNagile.ManageOrganization"/>
            <class name="MSNagile.ManageSubscription"/>
            <class name="MSNagile.ManageUsersAndGroups"/>
            <class name="MSNagile.SetupConfiguration"/>
        </classes>
    </test>
</suite>



